body{
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: midnightblue;
}

li {
    float: left;
}

li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

a img{
    height: 40px;
    padding-bottom: inherit;
}

li a:hover:not(.active) {
    background-color: lightblue;
}

footer {
    background-color: midnightblue;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    margin: 5px auto 0 auto;
}
