

@{
    ViewBag.Title = "Index";
    string error = ViewBag.error as string;
    if (Session["user"] != null)
    {
        Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage.cshtml";
    }
}

<h2>Error page</h2>
<div class="container">
    <h1>Error</h1>
    <div class="alert alert-warning">
        <p>@error</p>
    </div>
    <hr />
    @Html.ActionLink("Return to main page", controllerName: "Home", actionName: "Index")
</div>

